.display{
    width:267.5px;
    height: 75px;
    margin:0 701px;
    background:grey;

}

.display p {
    font-size:75px;
    text-align:right;
}
.numberBox {
   width:200px;
   height:200px;
   margin:0;
   display:flex;
   flex-wrap:wrap;
   flex-direction:row-reverse;
}

.actionBox{
    display:flex;
    flex-direction:column;
}

.calcBox{
    width:400px;
    height:400px;
    margin:auto;
    display:flex;
    flex-direction:row-reverse;
}

