.numberStyle {
    background:white; 
    border:1px solid gray;
    font-size:24px;
    font-weight:bold;
    line-height:34px;
    height:70px;
    text-align:center;
    width:66.5px;
}

.wideBox{
    background:white;
    border:1px solid gray;
    font-size:24px;
    font-weight:bold;
    line-height:34px;
    height:70px;
    text-align:center;
    width:200px;
}

.actionStyle {
    background: #cc0000; 
    border:1px solid gray;
    font-size:24px;
    font-weight:bold;
    line-height:34px;
    height:70px;
    text-align:center;
    width:66.5px;
}